<html>
    <head>
        <title>
            <%=title%>
        </title>
        <link type="text/css" rel="stylesheet" href="/css/layout.css">
        <%-style%>
    
    </head>
    <body>
        <%-include("_header")%>
    

        <%- body %>


    
        <%-include("_footer")%>

        <%-script%>
        <script src="/js/layout.js"></script>
    </body>
</html>