<html>
    <head>
        <title>
            <%=title%>
        </title>
        <link type="text/css" rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/_header.css">
        <link rel="stylesheet" href="/css/_footer.css">
        <%-style%>
        
    
    </head>
    <body>
        <header id="layout-header">
            <%-include("_header")%>
        </header>

        <% if(flash.success && flash.success.length >0 ){%>
            <h5>
                <%= flash.success%>
            </h5>

        <%}%>
    

        <main >
            <%- body %>
        </main>
        


    
        <footer id="layout-footer">
            <%-include("_footer")%>
        </footer>
        

        <%-script%>
        <script src="/js/layout.js"></script>
    </body>
</html>