<link rel="stylesheet" href="/css/userProfile.css">
<h1>
    User's Profile Page 
</h1>

<p>
    
    <% if(user.id==profile_user.id){%>
        <!-- if user matches then show the form -->
        <form action="/users/update/<%=profile_user.id%>" method="post" >
            <input type="text" name="name" placeholder="Your name" value="<%=profile_user.name%>" required>
            <input type="email" name="email" placeholder="Your email" value="<%=profile_user.email%>" required>
            <input type="submit" value="Update">

        </form>

    <%}else{%>
        <!-- Else eshow only the profile information -->
        
            <p>
                <span>
                    <%=profile_user.name%>
                </span>
                
            </p>
            <p>
                <span>
                    <%=profile_user.email%>
                </span>
                
            </p>
            
        </p>
    <%}%>

    

</p>


<script src="/js/userProfile.js"></script>